/* this is stuff that applies across the whole page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Header block */
    /* Header */
        header {
          box-sizing: border-box;
          background-color: #333;
          color: #fff;
          padding: 1px;
        }
        header h1 {
          padding-left: 10px;
          /*font-family: 'Roboto', sans-serif;*/ /* linked fonts: Montserrat, Open Sans, Robotto. or use no font */
          /*font-weight: 600;*/
        }

    /* Navigation topbar */
        .navbar {
          box-sizing: border-box; /* prevents the element from extending behind a vertical scroll bar when width is set to 100% */
          position: relative;
          left: 0;
          width: 100%;
          z-index: 999;
          transition: top 0.01s ease;
          height: 38px;
        }
        nav {
          background-color: #ececec;
          border-bottom: 0px solid #ccc;
          padding: 10px;
          margin-bottom: -2px;
        }
        nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          text-align: right;
          margin-right: 15px;
        }
        nav li {
          display: inline-block;
          margin-left: 35px;
        }
        nav a {
          color: #333;
          text-decoration: none;
          display: inline-block;
          margin-top: 0px;
          margin-left: 0px;
          transition: font-size 0.2s ease-out, margin-top 0.2s ease-out, margin-left 0.2s ease-out;
        }
        nav a:hover {
          font-size: 110%;
          margin-top: -10px;
          margin-left: -6px;
        }
        nav .navTopA2:hover {
          margin-left: -5.5px;
        }

/* Main block */
        .navSideAndContent { /* this lets the sidebar and content sit next to each other */
          display: flex;
          height: 100%;
        }

    /* Navigation sidebar */
        .navSide {
          background-color: #ececec;
          border-right: 0px solid #ccc;
          padding-right: 10px;
          width: 200px;
          position: fixed;
          height: 100%;
          margin-top: 3px;
        }
        .navSide p {
          text-align: center;
        }
        .navSide a {
          text-align: center;
          display: block;
          color: #333;
          padding-bottom: 5px;
          text-decoration: underline;
          text-decoration-thickness: 1px;
        }

    /* Main content */
      /* About page content */
        main h1 { /* this is the title for the content in main */
          padding-left: 10px;
        }
        .content {
          width: 100%;
        }
        .filler p{ /* filler is the content inside of main excluding the title */
          font-size: 1.8rem;
          padding-top: 60px;
          padding-left: 150px;
        }
        .filler {
          padding-bottom: 80px;
          text-align: left;
        }
        
      /* Portfolio page content */
        .portfolioTitle {
          margin-top: -5px;
          position: absolute;
          text-align: center;
          width: 100%;
        }
        .portfolioTitle p {
          margin-top: -15px;
        }
        .projectGrid {
          display: grid;
          position: relative;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px; /* sets a 20px margin around all sides of each picture */
          grid-column-gap: 30px; /* sets a 30px margin in between the columns of pictures */
          margin-left: 100px;
          margin-right: 100px;
          margin-top: 100px;
          margin-bottom: 100px;
          /* padding-left: 200px; */ /* compensate for the width of the side nav bar */
        }
        .project {
          margin-bottom: 0;
          position: relative;
        }
        .project img {
          max-width: 100%;
          width: 100%;
          height: auto;
          border: 4px solid #ccc;
          border-radius: 20px;
        } 
        .projectTitle {
          position: absolute;
          top: 85%; /* Position the title low on the image */
          left: 50.7%;
          transform: translate(-50%, -50%); /* Center the title horizontally and vertically */
          background-color: rgba(163, 153, 255, 0.45); /* Set the background color to partially transparent */
          padding: 10px 0px 10px 0px;
          width: 100%;
        }
        .projectTitle h2 {
          margin: 0;
          font-size: 1.5rem;
          text-align: center;
          color: #ffffff;
        }
        .projectDescription {
          position: absolute;
          top: 49.45%;
          left: 50.7%;
          /* max-width: 100%; */
          height: 89.3%;
          width: 93.82%;
          transform: translate(-50%, -50%);
          background-color: rgba(163, 153, 255, 0.75);
/*           padding: 0px 0px -100px 0px;
          margin: 0px 0px -100px 0px; */
          /* display: none; */
          border: 4px solid #ccc;
          border-radius: 20px;
          opacity: 0;
          padding: 3%;
        }
        .projectDescription p {
          margin: 0;
          font-size: 1.3rem;
          text-align: center;
          color: #ffffff;
        }

/* Footer block */
        footer {
          background-color: #333;
          color: #fff;
          margin-bottom: -8px;
          text-align: center;
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          font-size: 2.2rem;
        }
        .footerC {
          margin-top: 8px;
          margin-bottom: -12px;
        }
        .fa { /* social buttons in the footer */
          padding-top: 8px;
          padding-bottom: 20px;
          padding-left: 20px;
          padding-right: 20px;
          text-align: center;
          text-decoration: none;
          border-radius: 50%;
          color: #fff;
        }
        .fa:hover {
          opacity: 0.7;
        }